:root {
    --lineicon: rgba(204, 210, 227, 1);
    --fillicon: rgba(255, 255, 255, 1);
    --gray-700: rgba(52, 64, 84, 1);
    --gray-500: rgba(102, 112, 133, 1);
    --gray-400: rgba(152, 162, 179, 1);
    --white: rgba(255, 255, 255, 1);
    --gray-900: rgba(16, 24, 40, 1);
    --avatar-user-squareolivia-rhye-color-background: rgba(199, 185, 218, 1);
    --avatar-user-squarephoenix-baker-color-background: rgba(170, 156, 117, 1);
    --avatar-user-squarelana-steiner-color-background: rgba(212, 181, 173, 1);
    --boldsigncomwhite: rgba(255, 255, 255, 1);
    --basewhite: rgba(255, 255, 255, 1);
    --gray-300: rgba(208, 213, 221, 1);
    --gray-600: rgba(71, 84, 103, 1);
    --text-md-semibold-font-family: "Inter", Helvetica;
    --text-md-semibold-font-weight: 600;
    --text-md-semibold-font-size: 16px;
    --text-md-semibold-letter-spacing: 0px;
    --text-md-semibold-line-height: 24px;
    --text-md-semibold-font-style: normal;
    --display-md-semibold-font-family: "Inter", Helvetica;
    --display-md-semibold-font-weight: 600;
    --display-md-semibold-font-size: 36px;
    --display-md-semibold-letter-spacing: -0.72px;
    --display-md-semibold-line-height: 44px;
    --display-md-semibold-font-style: normal;
    --text-md-regular-font-family: "Inter", Helvetica;
    --text-md-regular-font-weight: 400;
    --text-md-regular-font-size: 16px;
    --text-md-regular-letter-spacing: 0px;
    --text-md-regular-line-height: 24px;
    --text-md-regular-font-style: normal;
    --text-xl-semibold-font-family: "Inter", Helvetica;
    --text-xl-semibold-font-weight: 600;
    --text-xl-semibold-font-size: 20px;
    --text-xl-semibold-letter-spacing: 0px;
    --text-xl-semibold-line-height: 30px;
    --text-xl-semibold-font-style: normal;
    --text-sm-medium-font-family: "Inter", Helvetica;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-font-size: 14px;
    --text-sm-medium-letter-spacing: 0px;
    --text-sm-medium-line-height: 20px;
    --text-sm-medium-font-style: normal;
    --package-price-font-family: "Inter", Helvetica;
    --package-price-font-weight: 700;
    --package-price-font-size: 56px;
    --package-price-letter-spacing: -1.1200000000000003px;
    --package-price-line-height: normal;
    --package-price-font-style: normal;
    --package-name-style-font-family: "Inter", Helvetica;
    --package-name-style-font-weight: 500;
    --package-name-style-font-size: 24px;
    --package-name-style-letter-spacing: 0px;
    --package-name-style-line-height: normal;
    --package-name-style-font-style: normal;
    --package-description-font-family: "Inter", Helvetica;
    --package-description-font-weight: 500;
    --package-description-font-size: 14px;
    --package-description-letter-spacing: 0px;
    --package-description-line-height: 22px;
    --package-description-font-style: normal;
    --text-lg-medium-font-family: "Inter", Helvetica;
    --text-lg-medium-font-weight: 500;
    --text-lg-medium-font-size: 18px;
    --text-lg-medium-letter-spacing: 0px;
    --text-lg-medium-line-height: 28px;
    --text-lg-medium-font-style: normal;
    --text-md-normal-font-family: "Inter", Helvetica;
    --text-md-normal-font-weight: 400;
    --text-md-normal-font-size: 16px;
    --text-md-normal-letter-spacing: 0px;
    --text-md-normal-line-height: 24px;
    --text-md-normal-font-style: normal;
    --text-sm-normal-font-family: "Inter", Helvetica;
    --text-sm-normal-font-weight: 400;
    --text-sm-normal-font-size: 14px;
    --text-sm-normal-letter-spacing: 0px;
    --text-sm-normal-line-height: 20px;
    --text-sm-normal-font-style: normal;
    --display-xs-semibold-font-family: "Inter", Helvetica;
    --display-xs-semibold-font-weight: 400;
    --display-xs-semibold-font-size: 24px;
    --display-xs-semibold-letter-spacing: 0px;
    --display-xs-semibold-line-height: 32px;
    --display-xs-semibold-font-style: normal;
    --display-lg-semibold-font-family: "Inter", Helvetica;
    --display-lg-semibold-font-weight: 600;
    --display-lg-semibold-font-size: 48px;
    --display-lg-semibold-letter-spacing: -0.96px;
    --display-lg-semibold-line-height: 60px;
    --display-lg-semibold-font-style: normal;
    --text-sm-regular-font-family: "Inter", Helvetica;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-font-size: 14px;
    --text-sm-regular-letter-spacing: 0px;
    --text-sm-regular-line-height: 20px;
    --text-sm-regular-font-style: normal;
    --shadows-shadow-xs-skeuomorphic: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    --backdrop-blurs-backdrop-blur-sm: ;
    --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px
      rgba(16, 24, 40, 0.08);
    --shadows-shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  